# Dados brutos e processados — pesados demais para o repo
dados_brutos/
dados_processados/

# Arquivos gerados
*.html
*.png
__pycache__/
*.pyc
*.pyo

# Ambiente Python
.env
venv/
.venv/

# OS
.DS_Store
etl/cache

frontend/node_modules/
.next
frontend/out/
frontend/.vercel/
frontend/.env*
frontend/.tsbuildinfo
next-env.d.ts
frontend/npm-debug.log
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*