# Dados brutos e processados — pesados demais para o repo
dados_brutos/
dados_processados/

# Arquivos gerados
*.html
*.png
__pycache__/
*.pyc
*.pyo

# Ambiente Python
.env
venv/
.venv/

# OS
.DS_Store
etl/cache